@model IEnumerable<Administration.Models.FacturaVm>

@{
    ViewData["Title"] = "Facturas";
}
<div class="text-center contenedora" style="padding-top:200px">
    <div class="text-center homeTitle">
        <h1 class="display-10">
            PRUEBA TÉCNICA
        </h1>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10">
            <p><h2><i class="fa-solid fa-users "></i>Facturas</h2></p>
        </div>
        <div class="col-2">

            <a class="btn bg-success text-white" asp-action="Create" asp-controller="Factura"><i class="fa-solid fa-user-plus text-white"></i>  Nueva Factura</a>
        </div>


    </div>
    <div id="modalGenerico">
    </div>


    <div class="row" style="padding-top:20px">
        <table class="table table-striped table-bordered nowrap table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="bg-primary text-white" >
                        @Html.DisplayNameFor(model => model.IdFactura)
                    </th>
                  
                    <th  class="bg-primary text-white">
                        @Html.DisplayNameFor(model => model.NumeroFactura)
                    </th>
                    <th   class="bg-primary text-white">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>              
                    <th  class="bg-primary text-white">
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th   class="bg-primary text-white">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                  
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                           
                            @Html.ActionLink("Detalle", "Detalle", new {  id=item.IdFactura  }) 
                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>