@model IEnumerable<Administration.Models.Factura>

@{
    ViewData["Title"] = "Facturas";
}
<div class="text-center contenedora" style="padding-top:200px">
    <div class="text-center homeTitle">
        <h1 class="display-10">
            PRUEBA TÉCNICA
        </h1>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10">
            <p><h2><i class="fa-solid fa-users "></i>Facturas</h2></p>
        </div>
        <div class="col-2">
            <button type="button" class="btn bg-success text-white" data-url="@Url.Action("Create","Factura")" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-user-plus text-white"></i>  Nueva Factura</button>
        </div>


    </div>
    <div id="modalGenerico">
    </div>


    <div class="row" style="padding-top:20px">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdFactura)
                    </th>
                  
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroFactura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subtotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalIva)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalIva)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Detalle", "Detalle", new {  id=item.IdFactura  }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>